<section id="stats" class="s-stats">
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">

        <div class="col-block stats__col ">
            <div class="stats__count">
                5
            </div>
            <h4>Sertifika</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                99
            </div>
            <h4>İçilen Kahve Sayısı</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                14
            </div>
            <h4>Tamamlanan Proje</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                150
            </div>
            <h4>Dinlenilen Müzikler</h4>
        </div>

    </div>
</section>