<section id="works" class="s-works target-section">

    <div class="row narrow section-intro has-bottom-sep">
        <div class="col-full">
            <h3>Portfolyom</h3>
            <h1>Son Projelerim.</h1>

            <p class="lead">ASP.NET Core, MVC, MongoDB, MySQL, MSSQL ve C# teknolojilerini kullanarak çeşitli projeler
                geliştirdim ve bu süreçte hem teknik bilgimi hem de yazılım geliştirme becerilerimi ilerlettim. Bu
                projeler arasında web tabanlı uygulamalar, API entegrasyonları ve veritabanı yönetimi gibi farklı
                alanlarda çalışmalar gerçekleştirdim. Bu deneyimler, yazılım geliştirme alanındaki bilgi birikimimi
                derinleştirerek daha kapsamlı projelerde katkı sağlamama olanak tanıdı. Projelerle kendimi geliştirmeye
                devam edeceğim.</p>
        </div>
    </div>

    <div class="row masonry-wrap">
        <div class="masonry">

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/n01jem8.png" class="thumb-link" title="The Beetle Car"
                            data-size="1050x700">
                            <img src="https://i.hizliresim.com/n01jem8.png"
                                srcset="https://i.hizliresim.com/n01jem8.png 1x,https://i.hizliresim.com/n01jem8.png"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            Villa Project
                        </h3>
                        <p class="item-folio__cat">
                            Asp.Net Core/ MongoDB
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>Bu proje, villa satışı ve kiralaması gerçekleştiren bir firma için dinamik ve kullanıcı dostu
                            bir web sitesi sunmaktadır. N-Katmanlı Mimari ve Generic Repository Pattern ile
                            yapılandırılmış olup, Entity Framework Core & MongoDB entegrasyonu sayesinde güçlü bir
                            altyapı sağlar. </p>
                    </div>

                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/7cu39gl.png" class="thumb-link" title="Lighthouse"
                            data-size="1050x700">
                            <img src="https://i.hizliresim.com/7cu39gl.png"
                                srcset="https://i.hizliresim.com/7cu39gl.png 1x, https://i.hizliresim.com/7cu39gl.png"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            EasyCash
                        </h3>
                        <p class="item-folio__cat">
                            Banka App/MS SQL
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <div class="item-folio__caption">
                        <p>EasyCash, gerçek dünya senaryolarına uygun bir şekilde geliştirilmiş, banka web sitesi
                            mantığında işleyen bir web projesidir. Bu proje, kullanıcı dostu bir arayüz ve güçlü arka uç
                            özellikleri ile Admin, Müşteri, ve Ana Sayfa panellerini kapsamaktadır. Kullanıcılar,
                            Identity ile oturum açabilir, dinamik veritabanı işlemleri gerçekleştirebilir ve modern bir
                            finans uygulamasından beklenen çeşitli işlemleri yapabilir.</p>
                    </div>

                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/hqyg0bg.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/hqyg0bg.png"
                                srcset="https://i.hizliresim.com/hqyg0bg.png, https://i.hizliresim.com/hqyg0bg.png"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            ConnectAPI
                        </h3>
                        <p class="item-folio__cat">
                            Web API Projesi
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/541s2ij.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/541s2ij.png"
                                srcset="https://i.hizliresim.com/541s2ij.png, https://i.hizliresim.com/541s2ij.png"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            CommerceX
                        </h3>
                        <p class="item-folio__cat">
                            E-Ticaret Uygulaması, Izipay ödeme servisi.
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div>
            </div>

            <div class="masonry__brick">
                <div class="item-folio">

                    <div class="item-folio__thumb">
                        <a href="https://i.hizliresim.com/b8nvacz.png" class="thumb-link" data-size="1050x700">
                            <img src="https://i.hizliresim.com/b8nvacz.png"
                                srcset="https://i.hizliresim.com/b8nvacz.png, https://i.hizliresim.com/b8nvacz.png"
                                alt="">
                            <span class="shadow-overlay"></span>
                        </a>
                    </div>

                    <div class="item-folio__text">
                        <h3 class="item-folio__title">
                            CodeFusion
                        </h3>
                        <p class="item-folio__cat">
                            Yazılım Geliştiricilere özel Blog Uygulaması
                        </p>
                    </div>

                    <a href="https://www.behance.net/" class="item-folio__project-link" title="Project link">
                        <i class="im im-link"></i>
                    </a>

                    <span class="item-folio__caption">
                        <p>Vero molestiae sed aut natus excepturi. Et tempora numquam. Temporibus iusto quo.Unde
                            dolorem corrupti neque nisi.</p>
                    </span>

                </div>
            </div>


        </div>
    </div>

</section> >